button{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50px;
    border: 0;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    padding-right: 2em;
}

body{
    background-color: lightslategrey;
    padding-left: 3rem;
    transition: 2s background-color;
}